<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
    <style>
        td,th,tr{
            border: 2px solid black;
            padding: 2px;
            margin: 2px;
            color: aqua;
            background-color: black;
        }
    </style>
</head>
<body>
    <h1>All data</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>username</th>
            <th>Email</th>
            <th>Avtar</th>
            <!-- <th>Oprection</th> -->
        </tr>
        <% for( users of data) { %>
         <tr>
            <td><%=users.userId%> </td>
            <td><%=users.username%></td>
            <td><%=users.email%></td>
            <td><%=users.avatar%></td>
            <td>
                <form action="/user/<%= users.userId %>/edit" method="get">
                    <button>Edit</button>
                </form>
            </td>
            <td>
                <form action="/user/new" method="get">
                    <button>New</button>
                </form>
            </td>
            <td>
                <form action="/user/<%= users.userId %>/edit" method="get">
                    <button>Delete</button>
                </form>
            </td>
         </tr>
        <% } %>
    </table>
</body>
</html>