<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>This page belongs to @<%= data.name %></h1>
    <button>follower</button>
    <button>following</button>
    <button>message</button>
    <p>followers :<%= data.followers  %> &nbsp;&nbsp;&nbsp;&nbsp;following :<%= data.following %></p>
<hr>
<div class="imag">
    <% for(let post of data.posts) { %>
        <div class="lol"><img src="<%= post.image %>" alt="some image"></div>
        <p>likes :<%=post.likes  %> &nbsp;&nbsp;&nbsp;&nbsp;comments :<%=post.comments %></p>
    <% } %>
</div>
    
    
    
</body>
<script src="/app.js"></script>
</html>